<h2>User info</h2>

 <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
<table class="table table-striped">
  <thead>
    <tr>
      <td><%= 'Name' %></td>
      <td><%= user.name %></td>
    </tr>
   <td><%= 'Introduction' %></td>
  <td><%= user.introduction %></td>
 </tr>
</thead>
</table>

<li class="btn btn-link btn-block">
  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <%= link_to 'edit', edit_user_path(user.id) %>
</li>

<h2>New book</h2>
  <%= form_for(book) do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %>
    <div class="">
    <input class="btn btn-default btn-block btn-primary" type="submit" value='Create Book'>
    </div>
  <% end %>