<div class="container">

<h2>User info</h2>

<% if @user.errors.any? %>
  <ul style="color: red">
    <h2><%= @user.errors.count %> errors prohibited this obj from being saved:</h2>
  </ul>
  <div>
    <ul style="color: red">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
    <%= 'Name' %>
    <%= f.text_field :name %>
      <div class="field">
      <label for="user_image">Image</label>
      <div class="form-group has-icon">
        <div class="user-edit-image">
        </div>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
      </div>
    </div>
    <%= 'Introduction' %>
    <%= f.text_area :introduction %>
    

    <div class="act"><%= f.submit 'Update User' %>
    </div>
  <% end %>
</div>