<h2>Editing Book</h2>

<%= form_for(@book) do |f| %>

    <div>
    <%= 'Title' %>
    <%= f.text_field :title %>
    </div>

    <div>
    <%= 'Opinion' %>
    <%= f.text_area :body %>
    </div>

    <div>
    <%= f.submit 'Update Book' %>
    </div>

    <div>
    <%= link_to "Show", book_path %>
    <%= link_to "Back", books_path %>
    </div>

<% end %>