<div class="container">
  <div class="row">

<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="col-xs-3">
  <%= render 'users/list', user: @user, book: @books %>
</div>

<div class="col-xs-9">
<h2>Book detail</h2>

<table class="table table-striped">
    <tbody>
    <tr>
      <td>
       <%= attachment_image_tag @user, :profile_image, :size, 20, 20, format: 'jpeg', fallback: "no_image.jpg" %>
       <br>
       <%= link_to @user.name, user_path(@user.id) %>
      </td>
      <td>
        <%= @book.title %>
      </td>
      <td>
        <%= @book.body %>
      </td>
      <% if @book.user == current_user %>
      <td>
       <%= link_to 'Edit', edit_book_path(@book.id) %>
      </td>
      <td>
        <%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?" %>
      </td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>
</div>